doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/stylesheet.css')
    link(href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet") 
  body
    block content
