extends layout

block content
  h1 This is the listings page
  each listing in listingsJSON.listings
    div.listing_display.
      Picture here<br>
      Title: #{listing.title}<br>
      Desc: #{listing.description}<br>
      Price: #{listing.price}<br><br>
