<!DOCTYPE html>
<html>
<head>
<title>Pirates BnB</title>
<link rel="stylesheet" href="../public/stylesheet.css">
</head>
<body>

<center>
<h1>Welcome to Pirates BnB Control Panel </h1>
<div style="padding: 30px;">
  <form class= "user-input">
    <input id='title' type="text" name="title" placeholder="Title"> </br>
    <input id='price' type="text" name="price" placeholder="Price"> </br>
    <input id='description' style="height: 250px"type="text" name="description" placeholder="Description"> </br>
    <input id='submit-details' type="submit" value="Submit">
  </form>
</div>
</center>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../js/src/interface.js"></script>
<script src="../js/src/listing.js"></script>

</body>
</html>
